* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*--- NAVIGATION SECTION --- */

.navigation {
  background-color: rgb(193, 210, 216);
}

.logo {
  display: inline-block;
  font-family: Catamaran;
  font-size: 20px;
  color: #111;
}

.logo {
  margin: 20px
}

.menu {
  display: inline-block;
  font-family: Catamaran;
  font-size: 15px;
  color: #111;
}

.menu {
  float: right;
  margin: 20px;
}

.menu ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  padding: 20px 10px 20px 10px;
}

.menu ul li a:hover {
  background-color: lightsteelblue;
  color: antiquewhite;
  transition: all 0.5s ease;
}


/*--- HEADER SECTION --- */

header {
  background-image: url(../images/background.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -150px;

}

header p {
  margin: 0px;
}

.background-container {
  text-align: center;
  padding: 100px;
}

.background-container p {
  text-align: center;
  font-family: Catamaran;
  font-size: 20px;
  color: white;
}

.background-container h1 {
  text-align: center;
  font-family: Catamaran;
  font-size: 25px;
  color: #111;
}

.btn-work {
  background-color: #85af4b;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  margin: 15px 10px;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  font-family: Catamaran;

}

.btn-work:hover {
  background-color: white;
  color: #85af4b;
  transition: all 0.5s ease;
}

.btn-contact {
  background-color: white;
  display: inline-block;
  padding: 10px 25px;
  color: #85af4b;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  font-family: Catamaran;

}

.btn-contact:hover {
  background-color: #85af4b;
  color: white;
  transition: all 0.5s ease;
}


/*--- ABOUT ME SECTION --- */

.about-me {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-me:after {
  content: '';
  display: block;
  clear: both;

}

.about-me h2 {
  color: #111;
  text-align: center;
  text-transform: uppercase;
  font-family: Catamaran;
  font-size: 25px;
  position: relative;
  margin-bottom: 30px;
}

.about-me h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

.about-me h4 {
  color: #111;
  font-family: Catamaran;
  font-size: 20px;
}

.about-me p {
  color: #111;
  font-family: Catamaran;
  font-size: 15px;
}

.about-me .column-left, .about-me .column-right {
  width: 50%;
  float: left;
}

.about-me .column-left {
  padding-left: 5%;
  padding-right: 5%;
}

.about-me a {
  background-color: #85af4b;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  font-family: Catamaran;
  font-size: 17px;
  display: inline-block;
  border: 1px #85af4b;
}

.about-me a:hover {
  background-color: rgb(230, 225, 225);
  color: #85af4b;
}


.about-me .column-left img {
  max-width: 100%;
}


/*--- MY SKILLS SECTION --- */

.my-skills {
  background-color: #e2e2e2;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
 
}

.my-skills h2 {
  text-transform: uppercase;
  position: relative;                                         
}

.my-skills h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

.my-skills:after {
  content: '';
  display: block;
  clear: both;
}

.my-skills .skills-left, .my-skills .skills-center, .my-skills .skills-right {
  width: 33.3333333333%;
  display: inline-block;
  float: left;
}