* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*--- NAVIGATION SECTION --- */

.navigation {
  background-color: rgb(193, 210, 216);
}

.logo {
  display: inline-block;
  font-family: Catamaran;
  font-size: 20px;
  color: #111;
}

.logo {
  margin: 20px
}

.menu {
  display: inline-block;
  font-family: Catamaran;
  font-size: 15px;
  color: #111;
}

.menu {
  float: right;
  margin: 20px;
}

.menu ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  padding: 20px 10px 20px 10px;
}

.menu ul li a:hover {
  background-color: lightsteelblue;
  color: antiquewhite;
  transition: all 0.5s ease;
}


/*--- HEADER SECTION --- */

header {
  background-image: url(../images/background.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -150px;

}

header p {
  margin: 0px;
}

.background-container {
  text-align: center;
  padding: 100px;
}

.background-container p {
  text-align: center;
  font-family: Catamaran;
  font-size: 20px;
  color: white;
}

.background-container h1 {
  text-align: center;
  font-family: Catamaran;
  font-size: 25px;
  color: #111;
}

.btn-work {
  background-color: #85af4b;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  margin: 15px 10px;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  font-family: Catamaran;

}

.btn-work:hover {
  background-color: white;
  color: #85af4b;
  transition: all 0.5s ease;
}

.btn-contact {
  background-color: white;
  display: inline-block;
  padding: 10px 25px;
  color: #85af4b;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  font-family: Catamaran;

}

.btn-contact:hover {
  background-color: #85af4b;
  color: white;
  transition: all 0.5s ease;
}


/*--- ABOUT ME SECTION --- */

.about-me {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-me:after {
  content: '';
  display: block;
  clear: both;

}

.about-me h2 {
  color: #111;
  text-align: center;
  text-transform: uppercase;
  font-family: Catamaran;
  font-size: 25px;
  position: relative;
  margin-bottom: 30px;
}

.about-me h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

.about-me h4 {
  color: #111;
  font-family: Catamaran;
  font-size: 20px;
}

.about-me p {
  color: #111;
  font-family: Catamaran;
  font-size: 15px;
}

.about-me .column-left, .about-me .column-right {
  width: 50%;
  float: left;
}

.about-me .column-left {
  padding-left: 5%;
  padding-right: 5%;
}

.about-me a {
  background-color: #85af4b;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  font-family: Catamaran;
  font-size: 17px;
  display: inline-block;
  border: 1px #85af4b;
}

.about-me a:hover {
  background-color: rgb(230, 225, 225);
  color: #85af4b;
}


.about-me .column-left img {
  max-width: 100%;
}


/*--- MY SKILLS SECTION --- */

.my-skills {
  background-color: #e2e2e2;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
 
}

.my-skills h2 {
  text-transform: uppercase;
  position: relative;
  font-family: Catamaran; 
  font-size: 25px;
  color: #111;                                        
}

.my-skills h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

.my-skills:after {
  content: '';
  display: block;
  clear: both;
}

.my-skills .skills-left, .my-skills .skills-center, .my-skills .skills-right {
  width: 33.3333333333%;
  display: inline-block;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  font-family: Catamaran;
  font-size: 15px;
  color: #111;
}

.my-skills i{
  font-size: 60px;
  color: #85af4b;
}


/*--- MY PROJECTS SECTION --- */

.my-projects {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.my-projects:after {
  content: '';
  display: block;
  clear: both;

}

.my-projects h2 {
  text-transform: uppercase;
  font-family: Catamaran;
  font-size: 25px;
  color: #111;
  padding-top: 50px;
  margin-top: 0;
  position: relative;
}

.my-projects h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}
.my-projects .project1,
.my-projects .project2,
.my-projects .project3 {
  height: 300px;
  width: 30%;
  float: left;
  position: relative;
  overflow: hidden;
   
}

.my-projects .project1 {
  margin-left: 2%;
  margin-right: 1.5%;
  background-image: url(/images/project1.jpeg);
  background-size: cover;
}

.my-projects .project2 {
  margin-left: 1%;
  margin-right: 1%;
  background-image: url(/images/project2.jpg);
  background-size: cover;
}

.my-projects .project3 {
  margin-left: 1.5%;
  margin-right: 2%;
  background-image: url(/images/project3.jpg);
  background-size: cover;
}

.my-projects .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 310px;
}

.my-projects .overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 130px;
  transition: all 0.5s ease;
}

.overlay a {
  display: inline-block;
  font-family: Catamaran;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*--- CONTACT SECTION --- */

.contact-section {
  text-align: center;
  background-color: #e2e2e2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-section:after {
  content: '';
  display: block;
  clear: both;
}

.contact-section h2 {
  text-transform: uppercase;
  font-family: Catamaran;
  font-size: 25px;
  color: #111;
  padding-top: 50px;
  margin-top: 0;
  position: relative;
}

.contact-section h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #85af4b;
}

.social-container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-family: Catamaran;
}

.social-container i {
  float: left;
  margin-top: 17px;
  margin-right: 20px;
  font-size: 24px;
  color: #85af4b;
}

.column-1 p,
.column-2 p,
.column-3 p {
  display: inline-block;
}

.column-1,
.column-2,
.column-3 {
  width: 33.3333333333%;
  display: inline-block;
  float: left;
}

.column-3 p {
  margin-bottom: 0;
  margin-top: 7px;
  font-family: Catamaran;
  font-size: 15px;
  color: #111;

}

.text-bold {
  color: #333;
  font-weight: bold;
}

/*--- FOOTER SECTION --- */

footer {
  background-color: #777777;
  padding: 20px 40px; 
  
}

footer:after {
  content: '';
  display: block;
  clear: both;
}

footer i {
  color: #85af4b;
}

.social {
  float: right;
  margin-top: 10px;
}

.social i {
  font-size: 25px;
  padding: 10px 10px;
}

.social i:hover {
  color: #fff;
  background-color: #333;
  transition: all 0.5s ease;
}

.footer-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Catamaran;
  color: #111;
  font-size: 15px;
  float: left;
}
